.boredblock {
    border-style: solid;
    border-color: white;
    position: absolute;
    display: block;
    border-width: 1px;
    width: 25rem;
    padding: 25px;
    margin-top: 18rem;
    margin-left: 40rem;
}